:root {
  --background-color: #1c1f2c;
  --chat-background: #323446;
  --aside-background-color: #6786ff;
  --search-bar-color: #1E1F2B;
  --text-color: #565966;
  --blue-color: #6785FF
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

a,
button {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
